<div class="row cutoff-bottom">
  <div class="container clearfix">
    <div class="column half">
      <%= image_tag "phone_reflection.png" %>
    </div>
    <div class="column half">
      <h2>Bringing people together to change the world.</h2>
      <p>Pinch, People Inspiring Change, is a social network where friends and peers get together to volunteer, give back to their community, and rally around causes they are passionate about.</p>
      <img class="app-img" src="http://www.izitalk.com/images/get-it-on-google-play.png">
    </div>
  </div>
</div>
<div class="row coin">
  <div class="container clearfix">
    <div class="column full">
      <img class="coin-image" src="http://static.wixstatic.com/media/2904c5_4353e0c0775f4caa8b4b7f8456996f2d.jpg_400">
      <h2>The power of change.</h2>
      <p>Pinch makes it easy to incorporate volunteering, donating, and giving back into your daily routine. Even the smallest amounts of time, support, and money can add up to change the world.</p>
    </div>
  </div>
</div>
<div class="row inverted">
  <div class="container clearfix">
    <div class="column full">
     <h2>Explore</h2>
     <p>Pinch makes exploring volunteering opportunities, events, and great non-profits seamless with advanced search filters.</p>
    </div>
  </div>
</div>
<div class="row inverted">
  <div class="container clearfix">
    <div class="column third">
      <svg style="width: 91px; height: 130px;" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(1.5,1.5)">
        <path d="M44.233529 0C19.843252 0,0 19.91029,0 44.383876c0 23.530632,39.978003 78.19648,41.679397 80.512243c0.597959 0.814224,1.545897 1.294571,2.554131 1.294571s1.955719 -0.480347,2.554131 -1.294117c1.701848 -2.315764,41.68121 -56.981611,41.68121 -80.512243C88.46887 19.91029,68.625165 0,44.233529 0zM44.233529 117.558091c-3.672073 -5.182379,-10.777763 -15.453889,-17.824065 -26.993588C13.284294 69.069433,6.346794 53.100171,6.346794 44.383876C6.346794 23.421917,23.342602 6.368236,44.233529 6.368236c20.891833 0,37.888547 17.053681,37.888547 38.01564c0 8.710837,-6.929793 24.666907,-20.040909 46.143328C55.031239 102.076,47.911043 112.368434,44.233529 117.558091z"></path>
        <path d="M74.33864 35.802223c-0.869964 -3.154096,-2.210498 -6.08394,-3.924585 -8.730852c-0.104269 -0.205148,-0.229391 -0.393921,-0.369927 -0.566773c-5.743849 -8.46475,-15.41183 -13.847729,-25.998282 -13.847729c-2.827497 0,-5.654993 0.387098,-8.403608 1.150376c-7.697302 2.137453,-14.162418 7.016431,-18.339515 13.794509c-0.039441 0.062318,-0.078428 0.124635,-0.113789 0.190592c-0.175897 0.2893,-0.354061 0.57678,-0.521344 0.872903c-4.140376 7.333479,-5.186238 15.845536,-2.945819 23.968676c0.782016 2.83523,1.945292 5.489419,3.416842 7.920266c0.038534 0.249271,0.103815 0.498087,0.205364 0.74099c0.267926 0.642282,0.722628 1.147192,1.272532 1.484254c5.802783 7.973486,15.170198 12.999844,25.39715 12.999844c2.827497 0,5.655447 -0.387098,8.404062 -1.150376c6.926619 -1.923207,12.854071 -6.069384,17.016209 -11.818081c0.464223 -0.293394,0.860898 -0.707329,1.130636 -1.231799c0.15595 -0.303401,0.256592 -0.620448,0.309633 -0.940225c0.17499 -0.287935,0.351794 -0.573596,0.518624 -0.868354C75.533198 52.43833,76.579512 43.925818,74.33864 35.802223zM66.21565 55.985892c-2.257646 -0.878817,-5.705768 -2.019641,-10.070095 -2.857973c0.233018 -1.564312,0.404834 -3.257353,0.481449 -5.07321h12.218485C68.422975 50.796234,67.542584 53.471348,66.21565 55.985892zM44.284756 67.024319c-0.302379 0.387553,-0.497317 0.824232,-0.595692 1.275012c-0.058028 -0.262462,-0.146429 -0.52174,-0.274726 -0.772376c-1.543631 -3.005353,-2.81163 -5.985232,-3.81261 -8.93509c3.122623 -0.241993,6.061642 -0.212426,8.767643 -0.011372C46.622643 63.940274,44.33009 66.965186,44.284756 67.024319zM37.86724 52.306416c-0.300566 -1.425575,-0.53449 -2.842962,-0.703135 -4.251707h13.124717c-0.073894 1.407835,-0.215338 2.805208,-0.427502 4.190754C46.230955 51.919318,42.200741 51.872466,37.86724 52.306416zM21.444911 33.239918c2.126176 0.701871,5.402935 1.62572,9.570512 2.308486c-0.269285 1.868168,-0.449262 3.919649,-0.486437 6.13807h-11.478631C19.341855 38.777099,20.144271 35.925039,21.444911 33.239918zM42.907501 21.445035c0.302379 -0.388008,0.497317 -0.824687,0.596145 -1.276376c0.058028 0.262917,0.145976 0.52265,0.274726 0.773286c1.542724 3.003988,2.81027 5.981593,3.81125 8.930086c-3.128969 0.235625,-6.076602 0.232895,-8.785776 0.075964C40.553295 24.552279,42.862168 21.504623,42.907501 21.445035zM42.538935 36.482714c2.15927 0,4.429156 -0.102347,6.785176 -0.327509c0.391234 1.858615,0.6646 3.702219,0.833243 5.531268H36.85402c0.042161 -1.816312,0.197657 -3.615339,0.467849 -5.395715C38.978836 36.411754,40.719672 36.482714,42.538935 36.482714zM68.222144 37.501177c0.382168 1.384636,0.636946 2.784284,0.781109 4.185296h-12.508624c-0.166377 -2.034197,-0.457876 -4.173924,-0.908045 -6.413723c3.413668 -0.636824,6.966967 -1.560673,10.61728 -2.843872C67.046173 34.019117,67.729361 35.714887,68.222144 37.501177zM19.838265 50.936336c-0.263392 -0.955235,-0.462862 -1.917294,-0.612919 -2.881627h11.591059c0.17635 1.665294,0.436569 3.396999,0.799243 5.193296c-3.14121 0.633639,-6.402102 1.536564,-9.753209 2.772912C21.017409 54.427039,20.332408 52.727175,19.838265 50.936336zM62.340478 27.010873c-2.860591 0.911113,-5.654993 1.582507,-8.354194 2.05876c-0.925726 -2.948948,-2.128442 -6.032539,-3.669354 -9.236671C54.942836 21.041561,59.109507 23.556105,62.340478 27.010873zM36.101925 20.322406c-1.133356 1.996897,-2.585412 5.01817,-3.726928 8.938729c-2.957153 -0.463062,-5.425149 -1.056217,-7.281133 -1.584326C28.02155 24.288907,31.794719 21.755259,36.101925 20.322406zM25.71177 61.417542c2.569092 -0.858802,5.078795 -1.502449,7.510525 -1.96824c0.892178 2.83432,2.042761 5.794185,3.501164 8.864585C32.50148 67.016586,28.704737 64.620765,25.71177 61.417542zM50.928036 68.430335c1.135169 -1.956868,2.642986 -5.007253,3.831197 -9.019697c3.113556 0.580874,5.702141 1.326867,7.633833 1.985525C59.313058 64.723112,55.383032 67.153503,50.928036 68.430335z"></path>
        </g>
        </svg>
        <p>Search by city, or use current location</p>
    </div>
    <div class="column third">
      <svg style="width: 113px; height: 113px;" version="1.1" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-7.5,-7.5)"><path d="M63.3721 8.87146c-30.099213 0,-54.500006 24.400793,-54.500006 54.50064s24.400793 54.50064,54.500006 54.50064s54.500006 -24.400793,54.500006 -54.50064S93.471313 8.87146,63.3721 8.87146zM93.790708 72.244194H62.104658c-1.39989 0,-2.534884 -1.134994,-2.534884 -2.534884V30.418608c0 -1.39989,1.134994 -2.534884,2.534884 -2.534884s2.534884 1.134994,2.534884 2.534884v36.755818h29.151166c1.39989 0,2.534884 1.134994,2.534884 2.534884S95.190598 72.244194,93.790708 72.244194z"></path></g></svg>
      <p>Filter by time of day to work around your busy schedule.</p>
    </div>
    <div class="column third">
      <img src="http://static.wixstatic.com/media/2904c5_2b17395058bf4bf68ef807dc9fbb6f71.png_256">
      <p>Plan ahead of time by searching the daily and monthly calendars.</p>
    </div>
  </div>
</div>
<div class="row inverted">
  <div class="container clearfix">
    <div class="column third">
      <svg style="width: 138px; height: 94px;" version="1.1" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0.5,0.5)"><path d="M45.16223 4.239654C44.44537 1.919843,4.301165 7.599379,0.796512 35.277116c-3.186048 24.957959,4.380816 33.357273,9.797098 34.077214c5.416282 0.719941,13.540704 -0.079993,17.682566 -31.917391C32.338387 5.119582,45.958742 6.559463,45.16223 4.239654zM69.216893 0C55.516886 0,33.134899 10.479143,33.134899 32.077378c0 17.918536,-3.98256 24.957959,-3.98256 31.517424S31.621526 92.792415,69.535498 92.792415c37.913971 0,38.949437 -22.318176,38.949437 -29.837561c0 -4.319647,-4.540118 -12.239,-4.540118 -30.157534C103.944816 11.359071,82.837248 0,69.216893 0zM41.577926 37.756913c0 -3.839687,3.106397 -6.959431,6.929654 -6.959431c3.823258 0,6.929654 3.119745,6.929654 6.959431c0 3.839687,-3.106397 6.959431,-6.929654 6.959431C44.684323 44.716345,41.577926 41.5966,41.577926 37.756913zM68.977939 90.712585c-3.98256 0,-7.248259 -0.479961,-9.637795 -1.039915c5.416282 -1.199902,8.681981 -5.519549,10.115702 -7.919353c1.513373 2.319811,4.858723 6.639458,9.717446 8.079339C76.465152 90.312618,73.04015 90.712585,68.977939 90.712585zM82.27969 88.152794c-7.407562 0,-12.027331 -8.5593,-12.027331 -8.639294c-0.159302 -0.319974,-0.477907 -0.479961,-0.876163 -0.479961c-0.398256 0,-0.716861 0.239981,-0.876163 0.559954c0 0.079993,-3.902909 8.639294,-11.94768 8.639294c-11.469773 0,-12.345936 -8.959267,-12.345936 -15.038771c0 -12.398986,20.788963 -18.638477,20.788963 -48.955998c0 -8.719287,-0.63721 -9.679209,-0.63721 -12.159006c0 0,-0.477907 -3.999673,4.61977 -3.999673s4.062211 4.239654,4.062211 4.239654c0 2.55979,-0.63721 3.679699,-0.63721 12.318993c0 30.317522,22.302336 35.917064,22.302336 48.396044C94.784928 79.513501,92.873299 88.152794,82.27969 88.152794zM89.766902 44.716345c-3.823258 0,-6.929654 -3.119745,-6.929654 -6.959431c0 -3.839687,3.106397 -6.959431,6.929654 -6.959431s6.929654 3.119745,6.929654 6.959431C96.696557 41.5966,93.59016 44.716345,89.766902 44.716345zM59.340144 67.354494c0 2.959758,2.070931 4.319647,3.265699 4.319647c3.106397 0,-1.911629 -3.679699,1.433722 -3.679699c4.779072 0,1.194768 4.079666,4.699421 4.079666s0.159302 -4.079666,4.779072 -4.079666c2.867443 0,-1.513373 3.439719,1.752326 3.439719c1.672675 0,3.026746 -1.039915,3.026746 -3.999673c0 -3.119745,-2.62849 -6.399477,-9.478493 -6.399477C62.048285 61.035011,59.340144 64.23475,59.340144 67.354494zM54.003514 38.956815c0 -2.399804,-1.99128 -4.39964,-4.380816 -4.39964c-2.389536 0,-4.380816 1.999837,-4.380816 4.39964c0 2.399804,1.99128 4.39964,4.380816 4.39964C52.012234 43.356456,54.003514 41.356619,54.003514 38.956815zM90.24481 34.557175c-2.389536 0,-4.380816 1.999837,-4.380816 4.39964c0 2.399804,1.99128 4.39964,4.380816 4.39964c2.389536 0,4.380816 -1.999837,4.380816 -4.39964C94.625626 36.557011,92.634346 34.557175,90.24481 34.557175zM136.362854 35.277116c-3.584304 -27.677737,-43.648858 -33.27728,-44.365718 -30.957469c-0.796512 2.319811,12.823843 0.879928,16.965706 33.197286c4.141862 31.837398,12.266285 32.637333,17.682566 31.917391C131.982038 68.63439,139.548902 60.235077,136.362854 35.277116z"></path></g></svg>
      <p>Search by causes to align the PINCH schedule with your passions. </p>
    </div>
    <div class="column third">
      <svg style="width: 106px; height: 183px;" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <g transform="translate(-38.5,-5.5)">
      <path d="M95.797946 81.96467c-0.323155 -10.830461,4.412595 -32.337406,7.905739 -39.582093c4.668426 -9.639053,6.8074 -14.756913,17.650382 -16.749009c-13.053127 2.39629,-16.101934 23.991772,-16.101934 23.991772c2.298628 1.247226,19.864373 3.943774,28.560687 -12.150827c4.510696 -8.343709,3.371961 -24.954137,3.371961 -30.857287c0 1.054753,-2.060109 3.930301,-7.145943 7.215817c-3.45852 2.230763,-9.390711 2.954462,-15.37676 3.810967c-20.397194 2.917892,-17.150262 20.656213,-15.965362 24.75589c0 0,-8.605907 25.096568,-7.978834 30.470416c-1.00601 -8.615096,-1.811973 -34.3449,-20.247158 -43.279501c-5.449382 -2.640731,-8.126946 -2.788935,-13.070438 -5.244892c-5.035822 -2.50215,-7.534497 -5.140957,-7.836492 -6.095623c-0.575138 3.82444,-0.338543 7.987634,0.677085 12.354848c0.877133 3.887957,2.300551 7.683526,4.191389 11.332816c2.64294 5.181376,6.122621 8.76715,10.452503 10.763096c2.162057 0.983538,4.362584 1.453172,6.561187 1.453172c1.994709 0,5.428223 -0.588968,7.397925 -2.232688c0.615532 -0.515828,-4.377972 -14.641429,-12.635719 -18.225278c4.947339 2.148,9.844666 2.954462,16.088469 15.925224c5.047363 10.478236,3.000718 25.493062,2.983407 32.614567C59.716227 85.502325,39.923024 107.380742,39.923024 133.834245c0 28.709288,23.297888 52.019705,51.983605 52.021629c28.68187 0,51.985529 -23.310417,51.985529 -52.021629C143.890235 106.443398,122.667844 83.960616,95.797946 81.96467zM92.427908 172.708037C89.971551 174.501887,84.635657 176.107112,84.635657 177.152241v0.100086c-3.847075 0.612064,-4.11637 1.081699,-5.961043 1.220279c-3.681651 -1.085548,-7.324832 -2.692699,-10.490975 -4.632828c-0.048088 -0.042344,-0.090406 -0.042344,-0.138495 -0.100086c-1.417648 -4.199763,-5.391676 -6.848193,-8.084628 -10.256891c-1.365712 -1.416602,-1.627312 -2.973709,-1.486895 -4.632828c0 0,-0.080789 -0.100086,-0.036547 -0.100086c0.146189 -2.688849,1.096417 -5.531677,-0.842509 -8.033827c-3.121901 -5.108236,-6.993983 -9.8373,-8.979074 -15.557601c-0.234671 -5.912774,-0.567444 -11.586881,1.415724 -17.20902c4.354889 -8.940375,15.21903 -18.539009,22.357278 -24.640406c6.474628 2.219215,-3.308484 9.128999,1.608077 11.821698c0.475114 0,0.900216 0.138581,1.279152 0.28486c0.140418 -0.14628,0.182736 -0.046194,0.182736 0.092387c2.225533 1.045129,2.6968 4.163193,-0.896369 3.97072c-5.008893 -1.416602,-6.993983 9.221386,-2.079344 7.895247c1.794661 -5.010075,7.232502 -2.879398,8.176958 1.560957c2.929548 4.492322,-3.021877 4.449978,-5.058905 6.386257c2.037026 3.737828,-3.637409 1.799623,-5.762919 3.593473c-4.068282 0.900774,-5.337818 7.094558,-8.88482 7.285107c-0.142342 -6.482494,-10.918 -4.307548,-9.121415 1.605226c2.269775 1.799623,5.345511 3.643516,4.868474 7.425612c-0.144265 8.039601,9.685013 5.389247,14.078372 9.648677c5.347435 2.361645,8.65592 7.233139,13.382052 10.405096C88.267296 163.861974,96.494267 167.792274,92.427908 172.708037zM79.524818 107.022743c0.280837 -0.088538,0.477037 -0.188624,0.65785 -0.188624c3.168067 -0.188624,2.558305 6.769279,-0.088483 7.850978C77.81864 112.556344,80.852059 109.480624,79.524818 107.022743zM80.752035 126.835923c-1.554219 -1.085548,-1.369558 -1.560957,-0.65785 -1.703387c1.273382 -0.230968,3.872082 0.717925,1.415724 2.176871C82.312024 126.508719,80.986706 126.78973,80.752035 126.835923zM69.647452 129.322676h-0.096177c-0.09233 0,-0.138495 -0.10971,-0.184659 -0.155903c0.419331 -0.184774,0.707862 -0.202097,0.846357 -0.202097C70.547667 129.008945,70.116795 129.638332,69.647452 129.322676zM63.722956 144.897599c-0.75018 0.28871,-1.619619 -0.281011,-2.090886 -0.896925c-1.698483 -1.035505,-1.660013 -1.655269,-1.046405 -1.845817c0.232748 -0.042344,0.498196 -0.042344,0.779033 0c0.242366 0,0.571291 0.096237,0.884827 0.192473v0.096237C63.190136 142.774621,64.19807 143.581083,63.722956 144.897599zM85.666674 100.686528c0.19043 0,0.377013 -0.088538,0.569367 -0.088538c0.234671 0,0.377013 0.042344,0.569367 0.088538c1.134887 0,0.75595 1.278021,0 1.609075C84.150926 104.849721,83.446911 101.160012,85.666674 100.686528zM88.317308 117.618387c-4.966574 -1.422376,0.280837 -6.859741,-1.848519 -9.55244c-3.021877 -3.073795,0.238519 -6.197634,3.45275 -6.621075c1.938926 -0.238667,3.875928 0.562021,4.441449 2.835129C95.684458 109.673097,90.300476 113.170333,88.317308 117.618387zM107.689256 119.514247c-1.134887 -1.045129,-1.036787 -1.518613,-0.421255 -1.560957c1.036787 -0.050043,3.35465 1.035505,3.166143 2.498301C109.395434 122.106859,106.600534 121.968279,107.689256 119.514247zM127.349735 164.056372c0 -0.286785,0.09233 -0.667882,0.236595 -1.229903c3.216155 -3.97457,2.596776 -11.727386,-3.970182 -10.87858c-3.448903 2.700398,-8.223124 6.147591,-12.379889 2.173021c-4.349119 -3.924527,-2.317863 -10.403171,0.088483 -14.797332c2.460205 -3.551129,3.264244 -8.797945,7.565274 -10.595644c4.251019 0.946968,9.496506 0.665957,11.012253 -4.54044c1.371482 -2.313527,0.615532 -3.069946,-0.615532 -3.68586l-0.284683 -0.051968c-1.417648 -0.612064,-3.214232 -1.089398,-3.402738 -3.164258c1.279152 -2.176871,-1.415724 -6.624924,-2.458281 -2.600312c2.173598 2.461731,2.692952 9.929687,-2.554458 7.136903c1.848519 3.023752,-6.753541 1.085548,-5.099298 5.300709c1.367636 4.584709,-7.799945 7.136903,-5.199322 1.324215c1.515748 -4.305623,-0.659774 -10.73615,3.119978 -13.482741c0 -0.134731,0.334695 -0.704452,0.188507 -0.086613l0.377013 -0.28486c3.310408 -2.325075,-4.2087 -9.175193,-3.775904 -4.919612c3.260396 1.701462,1.461889 5.108236,-1.660013 3.404849c-3.348879 -1.657193,-4.529932 -10.738074,0.046165 -10.114461c3.498915 0.465785,0.192354 -3.222,-1.365712 -5.019698c-0.188507 0.850731,-0.477037 -0.14243,-0.330849 -0.230968l-0.288531 -0.334903c0.475114 -5.43544,-8.650149 -0.662107,-10.158202 -5.531677c-5.762919 -2.885172,-12.291406 -3.023752,-18.667933 -2.554118c2.408269 -0.804538,4.916562 -1.227978,7.515262 -1.605226l0.754027 -0.096237c0.713632 -0.096237,1.425342 -0.14628,2.083192 -0.28486c1.22914 -0.092387,1.935079 -0.188624,3.206538 -0.188624C109.76283 87.117175,126.953486 97.855249,132.724099 113.455194c0 0,0 0.046194,0 0.092387c0 0.56972,0.715556 1.085548,0.671315 1.703387c0.425102 0.331054,1.134887 0.850731,1.608077 1.418527c1.088723 2.650355,1.981244 5.489333,2.506369 8.370655c-0.425102 0.423441,-0.96754 0.708301,-1.867755 0.758344c-4.864627 -3.785946,-0.103871 4.201688,2.542916 2.738892c0.234671 1.747656,0.396249 3.501086,0.396249 5.29301C138.581271 145.374932,134.347565 155.87434,127.349735 164.056372z"></path>
      </g>
      </svg>
      <p>Find the non-profits you are looking for with the search bar.</p>
    </div>
    <div class="column third">
      <svg style="width: 114px; height: 102px;" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <g transform="translate(1.5,1.5)">
      <path d="M101.04548 6.881546C94.61666 1.49053,88.352839 -0.009432,80.035141 0c-8.829296 0.763641,-16.472348 5.070014,-25.072531 15.95254C46.362752 5.070014,38.7197 0.763641,29.890404 0C21.572706 -0.009432,15.308235 1.49053,8.879414 6.881546C4.722518 10.367688,0 19.624714,0 28.446258c0.110326 17.748786,12.494121 44.42937,53.205212 69.243132l1.680918 1.020572l0.076805 -0.045858l0.076805 0.045858l1.680918 -1.020572c40.711092 -24.813762,53.094887 -51.494345,53.205212 -69.243132C109.925545 19.624714,105.202377 10.367688,101.04548 6.881546z"></path>
      </g>
      </svg>
      <p>Add non-profits to your favorites tab and be able to see their schedules in seconds</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="container clearfix">
    <div class="column half">
      <h2>Discover</h2>
      <p>Change happens when you find something you are passionate about. Whether you know what you love, or are still looking, Pinch makes it easy to discover unique non-profits and volunteering opportunities.</p>
    </div>
    <div class="column half">
      <%= image_tag "full_phone.png" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="container clearfix">
    <div class="column half">
      <img src="http://static.wixstatic.com/media/2904c5_0f7e35c6cd2b43ca9fbb08cde2ee756d.png_512">
    </div>
    <div class="column half">
      <h2>Share</h2>
      <p>The best referrals come from your friends! With Pinch, you can share your experiences, recommend non-profits, and rally your friends aroung causes you are passionate about.</p>
    </div>
  </div>
</div>