<div class="row">
  <div class="container clearfix">
    <div class="column half">
      <h2>Connect with people who are passionate about your cause.</h2>
      <p>With Pinch, connecting with volunteers, donors, and advocates, has never been easier. Create an account and start posting volunteering opportunities and events in seconds. The best part...it's <span class="big">free</span>.</p>
    </div>
    <div class="column half">
      <img src="http://static.wixstatic.com/media/2904c5_8229af8f14ff4d40850b7b2cebc8af19.png_850">
    </div>
  </div>
</div>
<div class="row inverted cutoff-bottom">
  <div class="container clearfix">
    <div class="column full">
      <h2>Create an Account and Start Posting</h2>
      <p>Post your volunteering opportunities directly to the PINCH app, or can contact us about integrations with your current CRM.</p>
      <img src="http://static.wixstatic.com/media/2904c5_840d96971edf4d42bc1e0fbf0d7fb6ee.png_512">
    </div>
    <div class="column half"></div>
  </div>
</div>
<div class="row hero-volunteer">
  <div class="container clearfix">
    <div class="column half">
      <h2>Reach the people who love what you do</h2>
      <p>Get discovered through the app or proactively reach out to interested volunteers</p>
    </div>
    <div class="column half"></div>
  </div>
</div>