#header {
  h1.logo {
    font-family: 'Lobster', cursive;
    color: $c-pinch;
    font-weight: normal;
  }
}

.links .link {
  text-transform: uppercase;
}

span.big {
  font-size: 2em;
  text-transform: uppercase;
}

.ui.button a {
  color: inherit;

  &:visited {
    color: inherit;
  }
}